<section class="banner">
    <div class="container">
        <a class="banner__logo" href="#">
            <img src="../img/logo.svg" alt="">
        </a>
        <div class="banner__content">
            <div class="banner__left">
                <h2 class="banner__title banner__title--main">
                    100%
                </h2>
                <h2 class="banner__title banner__title--middle">
                    страховка
                </h2>
                <h2 class="banner__title banner__title--little">
                    первой ставки
                </h2>
                <p class="banner__descr banner__descr--main">
                    Cтань клиентом bwin и получи фрибет
                </p>
                <p class="banner__descr banner__descr--second">
                    на сумму первой ставки, если она не сыграет
                </p>
                <a href="#" class="banner__btn btn-reset btn">
                    Играть без риска
                </a>
            </div>
            <div class="banner__img">
                <img src="../img/player.png" alt="">
            </div>
        </div>
        <div class="banner__footer">
            <div class="banner__apps">
                <a href="#" class="banner__app-store app">
                    <img src="../img/app-store.svg" alt="">
                </a>
                <a href="#" class="banner__app-store app">
                    <img src="../img/google.svg" alt="">
                </a>
            </div>
            <a href="#" class="banner__info">Правила и условия</a>
            <div class="banner__football-clubs">
                <a href="" class="banner__football-club club">
                    <img src="../img/club-1.png" alt="">
                </a>
                <a href="" class="banner__football-club club">
                    <img src="../img/club-2.png" alt="">
                </a>
                <a href="" class="banner__football-club club">
                    <img src="../img/club-3.png" alt="">
                </a>
                <a href="" class="banner__football-club club">
                    <img src="../img/club-4.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>