<div id="popup" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="" class="popup__close"></a>
            <h2 class="popup__title">
                Правила и условия
            </h2>
            <p class="popup__descr">
                Букмекерская контора Bwin предлагает всем своим новым клиентам беспроигрышную сделку. Если ваша первая
                ставка на&nbsp;сайте букмекера окажется неудачной, компания вернет проигранную сумму в&nbsp;полном
                объеме в&nbsp;качестве фрибета. Этот бонус можно использовать для заключения нового пари, чистый выигрыш
                с&nbsp;которого достанется вам. Правда, у&nbsp;кэшбека Bwin есть ограничение&nbsp;&mdash; максимальная
                сумма, которую готов компенсировать букмекер, равна 2000&nbsp;рублей.
            </p>
            <h2 class="popup__title">
                Как это работает
            </h2>
            <ul class="popup__list">
                <li class="popup__item">
                    Вы регистрируетесь на сайте БК Bwin и проходите процедуру идентификации личности
                </li>
                <li class="popup__item">
                    Делаете первую ставку на реальные деньги
                </li>
                <li class="popup__item">
                    Если проигрываете, получаете свои деньги назад в течение 30 минут с момента расчета
                </li>
                <li class="popup__item">
                    Условия акции распространяются на все типы пари, кроме «суперкоэффициентов» и «комбо+»
                </li>
                <li class="popup__item">
                    Полученный фрибет нужно использовать в течение 7 дней с момента его предоставления
                </li>
            </ul>
            <h2 class="popup__title">
                Важные правила
            </h2>
            <ul class="popup__list">
                <li class="popup__item">
                    В акции могут участвовать только новые пользователи или пользователи, которые до этого не делали ни одной ставки
                </li>
                <li class="popup__item">
                    Фрибет можно использовать только в мобильных приложениях Bwin для iOS и Android
                </li>
                <li class="popup__item">
                    Один игрок может получить только один фрибет
                </li>
            </ul>
        </div>
    </div>
</div>